html(ng-app='zihaow')
	head
		//- META DATA
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		//- BASE URL
		base(href='/')
		//-base(href='/~zihaow')
		//- favicon
		intercept-url(pattern='/favicon.ico', access='ROLE_ANONYMOUS')
		title Zihao Wu

		//- Loader
		link(rel='stylesheet', href='http://css-spinners.com/css/spinner/gauge.css', type='text/css')
		link(rel='stylesheet', href='http://css-spinners.com/css/spinner/circles.css', type='text/css')

		//- Font
		link(href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,700,400italic,700italic,900,900italic', rel='stylesheet', type='text/css')
		
		//- STYLES
		link(href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.5/custom/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='main.css')
		
		//- JAVASCRIPT
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js')
		script(src='angular-route.js')
		script(src='app.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js')
		
		//- Controllers
		script(src='controllers/MainController.js')
		script(src='controllers/HomeController.js')
		script(src='controllers/AboutController.js')
		script(src='controllers/ExperienceController.js')
		script(src='controllers/ContactController.js')
		script(src='controllers/StoryController.js')

		//- Directives
		script(src='directives/scroll.js')
		script(src='directives/scrollCheck.js')

	body
		.footer(ng-controller="MainController")
			.language-container
				a(ng-click="chinese()", style="left: 0px;", ng-href="{{ transfer }}") 中文
				a(ng-click="english()", style="left: 40px;", ng-href="{{ transfer }}") English
			.navigation-container
				a(ng-href="{{ homePage }}") {{ homeText }}
				a(ng-href="{{ aboutPage }}") {{ aboutText }}
				a(ng-href="{{ experiencePage }}") {{ experienceText }}
				a(ng-href="{{ contactPage }}") {{ contactText }}
			.social-container(ng-show="showSocial")
				a(href='https://www.flickr.com/photos/100481265@N05/', target='blank')
					img(src='flickr.png', width='38', height='38')
				a(href='https://www.facebook.com/zihao.wu.921', target='blank')
					img(src='facebook.png', width='35', height='35')
				a(href='https://ca.linkedin.com/pub/zihao-wu/92/920/854', target='blank')
					img(src='linkin.png', width='38', height='38')

		//- Angular View
		.content(ng-view)
		.showloadingView(ng-if="loadingView") 
			.loading(style="position: absolute; width: 200px; height: 200px; top: calc(50% - 100px); left: calc(50% - 100px);")
				.circles-loader(style="position: absolute; background-color: #F8971D; top: calc(50% - 16px); left: calc(50% - 20px);") 

		script.
			new WOW().init();
		