body {
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0;
	font-family: 'Lato', 'Helvetica';
	font-weight: 200;
}

.mouseEffect {
	animation: zoomIn 2s;
}

.page1-animation {
	animation: slideOutLeft 1s;
}

.page1-animation.result {
	animation: slideInLeft 1s;
}

.page2-animation {
	animation: zoomOut 1s;
}

.page2-animation.result {
	animation: rotateIn 1s;
}

.page3-animation {
	animation: lightSpeedOut 1s;
}

.page3-animation.result {
	animation: lightSpeedIn 1s;
}

.mouseEffect.result  {
	animation: zoomIn 4s;
}

.rubberBandEffect.result {
	animation: rubberBand 1s;
	animation-delay: 0s;
}

/* used when hover is done. */
.ease-in-out {
	-webkit-transition: all 2.2s ease-out;
  -moz-transition: all 2.2s ease-out;
  -o-transition: all 2.2s ease-out;
  -ms-transition: all 2.2s ease-out;
  transition: all 2.2s ease-out;
}

.ease-in-out-hover {
	transition-delay:1s;
	-webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.skills-container {
	position: absolute;
	top: calc(50% - 85px);
	left: 50%;
	height: 200px;
	width: 400px;
	margin: 0 0 0 -200px;
	z-index: 0;

	a:hover {
		text-decoration: none;
		color: #FFFFFF; 
		background:#333333;
	}

	p {
		font-size: 20px;
		text-align: center;
		font-weight: 300;
	}
}

.main-contents:hover {
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
}

.appstore {
	border: 1px solid #333333;
	position: absolute;
  left: calc(50% - 65px);
  padding: 5px 20px 5px 20px;
  box-sizing: border-box;
	background:#FFFFFF;
	color: #333333; 
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	font-weight: 300;
}

.page-general {
	height: 100px;
	width: 400px;
	margin: 0 0 0 -200px;
	z-index: 0;
	opacity: 0.3;
	position: absolute;
}

.page1 {
	left: 25%;
	top: calc(20% - 85px);
}

.page2 {
	left: 50%;
	top: calc(20% - 55px); 
}

.page3 {
	left: 75%;
	top: calc(20% - 85px);
}

/* z-index for a page hover. */
.page-hover:hover {
	z-index: 1;
	opacity: 1;
}

/* hover properties for pages. */
.page-a-hover:hover {
	text-decoration: none;
	color: #333333; 
	background:#FFFFFF;
	border: 1px solid #333333; 
}

/* universal properties for pages. */
.hide-page-general {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	background:#FFFFFF;
	color: #FFFFFF; 
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	text-align: center;
	border: 1px solid #FFFFFF;
}

/* paddings for pages. */
.pages-border-property {
	position: absolute;
	font-size: 14px;
	padding: 8px 5px 8px 5px;
	font-weight: 300;
}

/* ****************************************************************************************
 * ************************************ Media Queries *********************************** 
 ****************************************************************************************** */

@media(max-width:767px){
	.skills-container {
		top: calc(50% - 75px);
    height: 150px;
    width: 300px;
    margin: 0 0 0 -150px;
   	p {
   		font-size: 17px;
   	}

   	a {
   		left: calc(50% - 47.4px);
    	padding: 2px 10px 2px 10px;
    	font-size: 15px;
   	}
	}

	.page-general {
		height: 85px;
		width: 300px;
		margin: 0 0 0 -150px;
	}

	.pages-border-property {
		font-size: 12px;
	}
}

@media(min-width:768px){
	.skills-container {
		top: calc(50% - 75px);
    height: 150px;
    width: 300px;
    margin: 0 0 0 -150px;
   	p {
   		font-size: 17px;
   	}

   	a {
   		left: calc(50% - 47.4px);
    	padding: 2px 10px 2px 10px;
    	font-size: 15px;
   	}
	}

	.page-general {
		height: 85px;
		width: 300px;
		margin: 0 0 0 -150px;
	}

	.pages-border-property {
		font-size: 12px;
	}
}

@media(min-width:992px){
	.skills-container {
		top: calc(50% - 85px);
    height: 170px;
    width: 350px;
    margin: 0 0 0 -175px;
   	p {
   		font-size: 19px;
   	}

   	a {
   		left: calc(50% - 50.5px);
	    padding: 3px 12px 3px 12px;
	    font-size: 17px;
   	}
	}

	.page-general {
		height: 90px;
		width: 350px;
		margin: 0 0 0 -175px;
	}

	.pages-border-property {
		font-size: 13px;
	}
}

@media(min-width:1200px){
	.skills-container {
		top: calc(50% - 100px);
    height: 200px;
    width: 400px;
    margin: 0 0 0 -200px;
   	p {
   		font-size: 22px;
   	}

   	a {
   		left: calc(50% - 57.3px);
	    padding: 4px 14px 4px 14px;
	    font-size: 19px;
   	}
	}

	.page-general {
		height: 100px;
		width: 400px;
		margin: 0 0 0 -200px;
	}

	.pages-border-property {
		font-size: 14px;
	}
}
