#page {
    height: 2000px;
}

header {
    height: 100px;
    background-color: grey;
}

section {
    height: 1900px;
    background-color: lightgrey;
}

.min section {
    background-color: pink;
}