.student_info{
  position: absolute;
  top: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid #ECE7E7;

  .button-container{
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    height: 50px;

    a {
      padding: 0px 8px;
      border: 1px solid #337ab7;
      border-radius: 3px;
      font-size: 17px;
      position: absolute;
      top: 10px;
      width: 80px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      transition: 0.5s;
      -moz-transition: 0.5s;
      background-color: #337ab7;
      color: #fff;
    }
  }

  input {
  	outline: none;
    width: calc(50% + 80px);
    left: calc(25% - 40px);
    position: absolute;
  }

  .detail{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;

    ul{
      list-style-type: none;
      a {
    		border: 1px solid #337ab7;
        padding: 1px 7px;
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none !important;
    	}

    	a:hover {
    		transition: 0.5s;
    		-moz-transition: 0.5s;
    		background-color: #337ab7;
    		color: #fff;
    	}
    }
  }
  .thumb {
    width: 24px;
    height: 24px;
    float: none;
    position:relative;
    top: 7px;
  }

  form .progress {
    line-height: 15px;
  }

  .progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;

    div{
    	font-size: smaller;
      background: orange;
      width: 0;
    }
  }
}

h1 {
  position: absolute;
  left: calc(50% - 123.4px);
  top: calc(50% - 35px);
  font-size: 50px;
  font-weight: 100;
  margin: 0;
}

h2 {
  position: absolute;
  left: calc(50% - 79px);
  top: calc(50% + 25px);
  font-size: 40px;
  font-weight: 100;
  margin: 0;
}

.console {
	width: calc(100% - 300px);
	height: 100%;
	position:absolute;
	top: 0;
	left: 300px;
	background-color: #fff;
	overflow: auto;
  z-index: 100;

  .image-container {
    position: absolute;
    width: 94%;
    left: 3%;
    height: auto;
    top: 230px;
    

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      img {
        width: 100%;
      }

      a{
        position: relative;
        top: -7px;
        left: 0;
        border: 1px solid #000;
        font-size: 20px;
        padding: 0px 10px;
        border-radius: 3px;
        font-weight: 100;
      }

      a:hover{
        transition: 0.5s;
        -moz-transition: 0.5s;
        background-color: #000;
        color: #fff;
      }
    }
  }

  button {
  	width: 300px;
    position: absolute;
    top: 10px;
    right: 3%;
  }
  
  input {
  	position: absolute;
    top: 100px;
    width: 94%;
    height: 30px;
    left: 3%;
  }

  .uploadButton {
  	position: absolute;
    top: 150px;
    width: 94%;
    height: 30px;
    left: 3%;
    text-align: center;
    border: 1px solid #000;
    font-weight: 300;
    border-radius: 3px;
  }

  .uploadButton:hover {
  	transition: 0.5s;
		-moz-transition: 0.5s;
		background-color: #000;
		color: #fff;
  }

  
  p {
  	display: block;
    font-size: 25px;
    font-weight: 100;
  }

	a { 
		color: #000;
		font-size: 20px;
		cursor: pointer;
		position: absolute;
		top: 5px;
		right: 5px;
		text-decoration: none !important;
	}
}

