.skills-container.fadeInDown.animated(style='animation-delay: 1s;')
  p.rubberBandEffect(ng-class='toAnimate', ng-mouseover="toAnimate='result'", ng-mouseleave="toAnimate=''") The feeling of creating something is amazing, that's why I love coding. Coding is an act of pure creation. I am not a crazy developer, I want to be a good designer who brings ideas to live.
  a.appstore.ease-in-out.ease-in-out-hover.fadeInUp.animated(href='https://itunes.apple.com/ca/developer/zihao-wu/id974395413', style='animation-delay: 2s;', target='blank') App Store
.page1.page-hover
  a.page1-animation.pages-border-property.page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP1', ng-mouseover="toAnimateP1='result'", ng-mouseleave="toAnimateP1=''") I really enjoy travelling. It gives me a feeling that I am so free from everything. With travelling, I get the chance to explore our beautiful world and I can also shoot amazing photographs. Travelling is a life-long objective.
.page2.page-hover
  a.page2-animation.pages-border-property.page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP2', ng-mouseover="toAnimateP2='result'", ng-mouseleave="toAnimateP2=''") Music is another indispensable part of my life. My most favourite musicians of all times are Jay Chou and Taylor Swift. Their works occupies more than 90% of my iPod & iPhone storages.
.page3.page-hover
  a.page3-animation.pages-border-property.page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP3', ng-mouseover="toAnimateP3='result'", ng-mouseleave="toAnimateP3=''") It is travelling that makes me fall in love with photography. Photograph tells stories, it records life and reminds you how beautiful this world is. It's always good to explore and I enjoy the moment of viewing my works on my computer.
