.skills-container.fadeInDown.animated(style='animation-delay: 1s;')
  p.rubberBandEffect(ng-class='toAnimate', ng-mouseover="toAnimate='result'", ng-mouseleave="toAnimate=''") 我喜欢编程的原因是因为我觉得创造东西的感觉是美妙的。编程其实就是一种创造，我不是一个疯狂的软件工程师，我希望成为一个优秀的设计师，把想法变成现实。
  a.appstore.ease-in-out.ease-in-out-hover.fadeInUp.animated(href='https://itunes.apple.com/ca/developer/zihao-wu/id974395413', style='animation-delay: 2s;', target='blank') 苹果商店
.page1.page-hint(class="wow pulse" data-wow-iteration="3" data-wow-delay="0.5s")
  p.page1-s(ng-show="showPage1S", class="wow pulse" data-wow-iteration="500" data-wow-delay="2.0s") 点这里
.page1.page-hover.page-general
  a.page1-animation.pages-border-property.hide-page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP1', ng-mouseover="toAnimateP1='result'", ng-mouseleave="toAnimateP1=''; hidePage1()") 我非常享受旅行，旅行给我完全自由的感觉。 旅行的时候我会有很多机会拍摄美丽的照片以及目睹这个世界原来是如此之美。旅行是我一生的计划，永不止步。
.page2.page-hint(class="wow rotateIn" data-wow-iteration="1" data-wow-delay="1s")
  p.page2-s(ng-show="showPage2S" class="wow pulse" data-wow-iteration="500" data-wow-delay="2.0s") 点这里
.page2.page-hover.page-general
  a.page2-animation.pages-border-property.hide-page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP2', ng-mouseover="toAnimateP2='result'", ng-mouseleave="toAnimateP2=''; hidePage2()") 音乐是我生活中无法分割的一部分。我最喜爱的音乐家是周杰伦和Taylor Swift。他们的作品占据了我iPhone和MP3 90% 以上的空间。
.page3.page-hint(class="wow zoomInRight" data-wow-iteration="1" data-wow-delay="1.5s")
  p.page3-s(ng-show="showPage3S" class="wow pulse" data-wow-iteration="500" data-wow-delay="2.0s") 点这里
.page3.page-hover.page-general
  a.page3-animation.pages-border-property.hide-page-general.page-a-hover.ease-in-out-hover.ease-in-out(ng-class='toAnimateP3', ng-mouseover="toAnimateP3='result'", ng-mouseleave="toAnimateP3=''; hidePage3()") 也是因为旅行让我爱上了摄影， 照片可以告诉我们很多故事，照片记录了生活和提醒着我们这个世界是多么得美。摄影就是和探索紧密相关，我享受回头观赏我的作品。
