.experience-page(scrollCheck)
	.firstPage
		.intro(class="wow bounceInDown" data-wow-delay="0.5s")
			p The very first job in my career was with the Nova Scotia Government. They introduced me to what's like to work in a professional environment and how much potiential I can achieve in the future. 
		.option-section
			a(ng-mouseover="showConfident()", ng-mouseleave="hideConfidence()", class="wow fadeInUp" data-wow-delay="1s") Confidence
			a(ng-mouseover="showTeamworks()", ng-mouseleave="hideTeamwork()", class="wow fadeInUp" data-wow-delay="1.5s") Teamwork
			a(ng-mouseover="showTimeMgmt()", ng-mouseleave="hideTimeMgmt()", class="wow fadeInUp" data-wow-delay="2s") Time Management
		.confidence-section.section(ng-show="showConfidence")
			a As a Co-op student, I did not expect that I can contribute too much to the organization. They proved that I was wrong. During my Coop term with them, I was involved with many important projects and I was able to complete them pruely by myself. "Awesome" was the term that I heard the most from them and I really appreaicted that.
		.teamwork-section.section(ng-show="showTeamwork")
			a Working with the government demonstrated how good it could become with good teamwork. A good team makes you feel invloved and a good team gets things done effectively and efficiently. When I was with them, I was exposed with varies opportunities to communicate with other government departments and I benefited a lot from teamwork.
		.timeMgmt-section.section(ng-show="showTimeManagement")
			a Every time I received a task, there would be a set due day for it. This gave me a sense of urgency and responsibility as well. As what I was doing affected other government departments. With such a good team and good people, I managed myself to finish most of the taks in advance and what I heard afterward was the word "impressed". 
		.scroll(ng-show="showScroll", class="bounce animated")
			a Scroll
		.scroll-v(ng-show="showScroll", class="bounce animated")
			a V

	.secondPage
		.text-container-simpTek(ng-show="showSimpTek", class="wow zoomIn" data-wow-delay="0.7s")
			p SimpTek Technologie is really a cool, awesome, employee-friendly, and fun company. By embracing the start up culture made me felt that I am someone truly important, it felt like a big sweet family where we together learn, envolve and make progresses. Working experience at SimpTek gave me an ultimate goal of becoming a Full Stack developer in the future.
		.kayaking.transition.blur(ng-mouseover="hideSimpTekk()", ng-mouseleave="showSimpTekk()", class="wow slideInLeft" data-wow-delay="0.5s")
			.glyphicon.glyphicon-search
		.nebo.transition.blur(ng-mouseover="hideSimpTekk()", ng-mouseleave="showSimpTekk()", class="wow slideInRight" data-wow-delay="1s")
			.glyphicon.glyphicon-search
		.simptek.transition.blur(ng-mouseover="hideSimpTekk()", ng-mouseleave="showSimpTekk()", class="wow slideInLeft" data-wow-delay="0.5s")
			.glyphicon.glyphicon-search
		.river.transition.blur(ng-mouseover="hideSimpTekk()", ng-mouseleave="showSimpTekk()", class="wow slideInRight" data-wow-delay="1s")
			.glyphicon.glyphicon-search
		
