.image-container(ng-show="showBackground")
.skip-photo(ng-show="skipPhoto")
  a(ng-click="skip()") 跳过
.text-container(class="fadeInDown animated")
  p 我认为每一张拍摄的照片都是一件艺术品。
  p.name 吴子浩
ul.cb-slideshow(ng-show="showSlideShow")
  li
    span.fadeInDown.animated
    div 温哥华 English Bay 日落  
  li
    span.fadeInDown.animated
    div 繁华的卡尔加里市
  li
    span.fadeInDown.animated
    div 古巴的冬天
  li
    span.fadeInDown.animated
    div 奇妙岛
  li
    span.fadeInDown.animated
    div 哈利法克斯市中心
  li
    span.fadeInDown.animated
    div 我来自的城市 － 茂名
