.image-container(ng-show="showBackground")
.skip-photo(ng-show="skipPhoto")
  a(ng-click="skip()") Skip
.text-container(class="fadeInDown animated")
  p I consider every photograph taken as an act of act.
  p.name Zihao Wu
ul.cb-slideshow(ng-show="showSlideShow")
  li
    span.fadeInDown.animated
    div English Bay Sunset
  li
    span.fadeInDown.animated
    div Amazing Calgary
  li
    span.fadeInDown.animated
    div Cuba's Winter
  li
    span.fadeInDown.animated
    div Wonderland
  li
    span.fadeInDown.animated
    div Downtown Halifax
  li
    span.fadeInDown.animated
    div Home Sweet Home
